body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff;
    overflow-x: hidden; 
    -webkit-font-smoothing: antialiased;
    
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    background-color: #fff;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    
}

.right-links {
    display: flex;
    justify-content: center;
    align-items: center;


}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7em;
    height: 4em;
    padding: 0.5em 0;
    cursor: pointer;
}

.right-links li {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

.social img{
    height: 1.5em;
}

.main-picture {
    background-color: blue;
    height: 70vh;
}

.sub-picture {
    background-color: #ff7300cb;
    height: 25vh;
    width: 25vw;
    position: absolute;
    left: 15%;
    top: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    padding: 2vh 1.5vw 6vh;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    font-weight: lighter;

}

.sub-picture span {
    font-weight: 900;
}

.main-picture img {
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);;

}

.visitanos {
    display: flex;
    position: absolute;
    width: 12vw;
    height: 5vh;
    background-color: #AA0060;
    top: 54%;
    left: 16.5%;
    padding: 1.5vh 0;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.main-content {
    display: flex;
    margin: 5% 15%;
    border: 3px solid #005B00;
    height: 75vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.left {
    flex: 1;
}

.right {
    flex: 1;
}
.main-content .title {
    font-size: 2rem;
}
.main-content .title H3{
    margin: 0;
}

.main-content .left {
    padding: 2vh 1.5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

.main-content .title h6{
    margin: 0;
    color: #ff7300;
}

.main-content .title .container div{
    flex: 1;
    border-bottom: 2px solid #AA0060;
    height: 1px;
    padding: 0.25em 0;
    margin-right: 1em;
    margin-bottom: 1em;
    
}
.main-content .title .container {
    display: flex;
    justify-content: end;
}

.boton-main-content {
    display: flex;
    width: 14vw;
    height: 5vh;
    background-color: #ff7300f6;
    padding: 1.5vh 0;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.main-content .right {
    display: flex;
    flex-direction: column;
    padding: 2vh 1.5vw;

}

.main-content .right img {
    width: 95%;
}
#img1 {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);;
}

#img2 {
    width: 49%;
    margin: 3em;
}

.ofertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff7300;
    font-weight: 700;
}

.ofertas h1 {
    margin: 0;
    text-align: center;
    color: #000;
}

.slides-nav {
    z-index: 99;
    position: absolute;
    right: -5%;
    display: flex;
    align-items: center;
    height: 100%;
    color: #111;
    bottom: 21%;
  }
@media (min-width: 54em) {
    .slides-nav {
      right: 2%;
    }
  }
.slides-nav__nav {
    position: relative;
    right: 0;
    display: block;
    font-size: 1em;
    transform: rotate(90deg);
    transform-origin: center;
  }
.slides-nav button {
    position: relative;
    display: inline-block;
    padding: 0.35em;
    margin: 0;
    font-family: "Space Mono", monospace;
    appearance: none;
    background: transparent;
    border: 0;
    overflow-x: hidden;
    transition: color 0.5s ease;
  }
.slides-nav button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 0;
    background: #111;
    transition: width 0.4s ease;
  }
.slides-nav button:hover {
    cursor: pointer;
    color: rgba(17, 17, 17, 0.75);
    transition: color 0.5s ease;
  }
.slides-nav button:hover:after {
    width: 100%;
    transition: width 0.4s ease;
  }
.slides-nav button:focus {
    outline: 0;
  }
.is-sliding .slides-nav {
    pointer-events: none;
  }
.slides-ofertas {
    position: relative;
    display: block;
    height: 100vh;
    width: 100%;
    background: #fff;
    transition: background 1s cubic-bezier(0.99, 1, 0.92, 1);
  }
.is-sliding .slides-ofertas {
    background: #ededed;
    transition: background 0.3s cubic-bezier(0.99, 1, 0.92, 1);
  }
.slide-ofertas {
    z-index: -1;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: z-index 1s ease;
  }
.slide-ofertas.is-active {
    z-index: 19;
    transition: z-index 1s ease;
  }
.slide__content {
    position: relative;
    margin: 0 auto;
    height: 95%;
    width: 95%;
    top: 2.5%;
  }
@media (min-width: 54em) {
    .slide__content {
      height: 80%;
      width: 80%;
      top: 10%;
    }
  }
.slide__header {
    z-index: 9;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    transform: translateX(5%);
  }
@media (min-width: 54em) {
    .slide__header {
      transform: translateX(-5%);
    }
  }
.slide__title {
    font-family: Montserrat, helvetica;
    font-size: 2.5em;
    font-weight: 700;
    color: #111;
    overflow-y: hidden;
  }
@media (min-width: 54em) {
    .slide__title {
      font-size: 5em;
    }
  }
.slide__title .title-line {
    display: block;
    overflow-y: hidden;
  }
.slide__title .title-line span {
    display: inline-block;
    transform: translate3d(0, 140%, 0);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.8s ease;
  }
.slide__title .title-line span:nth-child(1) {
    transition-delay: 0.15s;
  }
.slide__title .title-line span:nth-child(2) {
    transition-delay: 0.3s;
  }
.is-active .slide__title .title-line span {
    transform: translate3d(0, 0%, 0);
    opacity: 1;
    transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.1s ease;
  }
.is-active .slide__title .title-line:nth-of-type(2n) span {
    transition-delay: 0.2s;
  }
.slide__figure {
    z-index: 7;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
.is-sliding .slide__figure {
    transform: scale(0.8);
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
.slide__img {
    position: relative;
    display: block;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    height: 0%;
    width: 100%;
    filter: grayscale(0%);
    transition: height 1s 1.4s cubic-bezier(0.19, 1, 0.22, 1), filter 0.4s 0.1s ease;
  }
.is-active .slide__img {
    height: 100%;
    opacity: 1;
    transition: height 0.5s 0.3s cubic-bezier(0.77, 0, 0.175, 1), filter 0.4s 0.1s ease;
  }
.is-sliding .slide__img {
    filter: grayscale(100%);
  }
  

.eventos {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff7300;
    font-weight: 700;
}

.eventos h1 {
    margin: 0;
    text-align: center;
    color: #000;
}

.eventos-content {
    margin-top: 10vh;
    height: 75vh;
    width: 100vw;
}

@import "compass/css3";
@font-face {
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/polar.otf');
  font-family: 'Polar';
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

svg {
  display: block;
  overflow: visible;
}
.slider-container {
  position: relative;
  height: 100%;
  user-select: none;
}
.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}
.slider-control.inactive:hover {
  cursor: auto;
}
.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}
.slider-control.left {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}
.slider-control.right {
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}
.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
}
.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
  transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
  transform: translate(-50%, -50%) scale(1);
}
.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider.animating {
  transition: transform 0.5s;
  will-change: transform;
}
.slider.animating .slide__bg {
  transition: transform 0.5s;
  will-change: transform;
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide.active .slide__overlay, .slide.active .slide__text {
  opacity: 1;
  transform: translateX(0);
}
.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
}
.slide:nth-child(1) {
  left: 0;
}
.slide:nth-child(1) .slide__bg {
  left: 0;
  background-image: url('images/dia_contra_cancer.jpg');
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.slide:nth-child(1) .slide__overlay-path {
  fill: #e99c7e;
}
@media (max-width: 991px) {
  .slide:nth-child(1) .slide__text {
    background-color: rgba(233, 156, 126, 0.8);
  }
}
.slide:nth-child(2) {
  left: 100%;
}
.slide:nth-child(2) .slide__bg {
  left: -50%;
  background-image: url('images/amigos.jpg');
}
.slide:nth-child(2) .slide__overlay-path {
  fill: #e1ccae;
}
@media (max-width: 991px) {
  .slide:nth-child(2) .slide__text {
    background-color: rgba(225, 204, 174, 0.8);
  }
}
.slide:nth-child(3) {
  left: 200%;
}
.slide:nth-child(3) .slide__bg {
  left: -100%;
  background-image: url('images/sanvalentin.jpg');
}
.slide:nth-child(3) .slide__overlay-path {
  fill: #adc5cd;
}
@media (max-width: 991px) {
  .slide:nth-child(3) .slide__text {
    background-color: rgba(173, 197, 205, 0.8);
  }
}
.slide:nth-child(4) {
  left: 300%;
}
.slide:nth-child(4) .slide__bg {
  left: -150%;
  background-image: url('images/carnaval.jpg');
}
.slide:nth-child(4) .slide__overlay-path {
  fill: #cbc6c3;
}
@media (max-width: 991px) {
  .slide:nth-child(4) .slide__text {
    background-color: rgba(203, 198, 195, 0.8);
  }
}
.slide__content-eventos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 810px;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  will-change: transform, opacity;
  transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__overlay {
    display: none;
  }
}
.slide__overlay path {
  opacity: 0.8;
}
.slide__text {
  position: absolute;
  width: 29%;
  bottom: 8%;
  left: 12%;
  color: #fff;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  will-change: transform, opacity;
  transform: translateY(-50%);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__text {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20rem;
    text-align: center;
    transform: translateY(50%);
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    padding: 0 1rem;
  }
}
.slide__text-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: 400;
  font-style: italic;
}
@media (max-width: 991px) {
  .slide__text-heading {
    line-height: 20rem;
    font-size: 3.5rem;
  }
}
.slide__text-desc {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  .slide__text-desc {
    display: none;
  }
}
.slide__text-link {
  z-index: 5;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  perspective: 1000px;
}
@media (max-width: 991px) {
  .slide__text-link {
    display: none;
  }
}
.slide__text-link:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transform-origin: 50% 100%;
  transform: rotateX(-85deg);
  transition: transform 0.3s;
  will-change: transform;
}
.slide__text-link:hover:before {
  transform: rotateX(0);
}

footer {
    height: 35vh;
    text-align: center;
    opacity: 0.60;
    margin: 5%;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#img1 {
    transition-delay: 2s;
}

#img2 {
    transition-delay: 4s;
}
